HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
megalinter-reports/

## REACT FRONT END READ THE DOCS BUILD ##
/src/main/resources/documentation/build/


## REACT FRONT END NODE MODULES ##
/src/main/resources/front-end/node_modules/

## REACT FRONT END LOGS ##
/src/main/resources/front-end/logs
/src/main/resources/front-end/*.log
/src/main/resources/front-end/npm-debug.log*
/src/main/resources/front-end/yarn-debug.log*
/src/main/resources/front-end/yarn-error.log*
/src/main/resources/front-end/pnpm-debug.log*
/src/main/resources/front-end/lerna-debug.log*

## REACT FRONT END DIST ##
/src/main/resources/front-end/dist
/src/main/resources/front-end/dist-ssr
/src/main/resources/front-end/*.local

## REACT FRONT END EDITOR DIRECTORIES ##
/src/main/resources/front-end/.vscode/*
!/src/main/resources/front-end/.vscode/extensions.json
/src/main/resources/front-end/.idea
/src/main/resources/front-end/.DS_Store
/src/main/resources/front-end/*.suo
/src/main/resources/front-end/*.ntvs*
/src/main/resources/front-end/*.njsproj
/src/main/resources/front-end/*.sln
/src/main/resources/front-end/*.sw?

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

