* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (min-width: 1200px) {
  .css-5c1adp-MuiContainer-root {
    max-width: none !important;
  }
}
body {
  font-family: "GDS Transport", arial, sans-serif;
}

/* REGISTER, LOGIN & HOME COMPONENTS SHARED CSS */
.login-container,
.register-container {
  height: 100vh;
}

.loginbox,
.registerbox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  font-size: 22px;
  position: relative;
}

section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.welcomebox,
.signinbox {
  flex: 1 1 50%;
}

.welcomeregbox,
.signupbox {
  flex: 1 1 50%;
}

.welcomebox,
.welcomeregbox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px;
  padding-bottom: 100px;
}

.top-row,
.top-row-reg {
  position: absolute;
  top: 10px;
  left: 10px;
}

.middle,
.middle-reg {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.signinbox,
.signupbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.welcomeheading {
  font-size: 2em;
  line-height: 2;
}

.genapptext p {
  font-size: 1.5rem;
  line-height: 1.5;
  padding-inline: 80px;
}

.loginimg {
  width: 250px;
}

#back-btn-register,
#back-btn-login {
  font-size: 20px;
  width: auto;
  color: #fff;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hidden {
  display: none;
}

.register-form input,
.login-form input,
#btn_signup,
#btn_signin,
textarea {
  font-size: 22px;
  padding: 0.25rem;
}

.register-form,
.login-form label {
  margin-top: 1rem;
}

#btn_signup,
#btn_signin {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: rgb(139 145 160);
}

#btn_signup:disabled,
#btn_signin:disabled {
  color: rgb(16 16 16 / 30%);
  background-color: rgb(239 239 239 / 30%);
  border-color: rgb(118 118 118 / 30%);
}

#register-page-btn,
#signin-page-btn,
#home-page-btn {
  font-size: 22px;
  background-color: #fff;
  color: #000 !important;
  padding: 0 !important;
  text-align: left;
  width: fit-content;
}

.footer {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  width: 100%;
  padding: 2px 20px;
  font-size: 12px;
  background-color: #cfc9eb;
  box-shadow: 0 -2px 5px rgb(0 0 0 / 20%);
}
